{% extends 'base.html' %}{% load static %} {% block content %} {% include 'nav.html' %}


<div class="col-lg-12">
  <div class="row">
    <div class="col-lg-4">
       
    </div>
    <div class="text-center col-lg-3 border" style="margin-top: 30px;margin-left: 40px;">
        <h3 class="text-white my-5">Timing</h3>
      <p style="color: whitesmoke; padding-bottom: 10px" class="border-bottom">
        <span style="letter-spacing: 5px">MONDAY</span>&nbsp;&nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 12:30 PM to 12:00 AM
      </p>

      <p style="color: whitesmoke; padding-bottom: 10px" class="border-bottom">
        <span style="letter-spacing: 5px">TUESDAY</span>&nbsp;&nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 12:30 PM to 12:00 AM
      </p>

      <p style="color: whitesmoke; padding-bottom: 10px" class="border-bottom">
        <span style="letter-spacing: 5px">WEDNESDAY</span>&nbsp;&nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 12:30 PM to 12:00 AM
      </p>

      <p style="color: whitesmoke; padding-bottom: 10px" class="border-bottom">
        <span style="letter-spacing: 5px">THURSDAY</span>&nbsp;&nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 12:30 PM to 12:00 AM
      </p>

      <p style="color: whitesmoke; padding-bottom: 10px" class="border-bottom">
        <span style="letter-spacing: 5px">FRIDAY</span>&nbsp;&nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 12:30 PM to 12:00 AM
      </p>

      <p style="color: whitesmoke; padding-bottom: 10px" class="border-bottom">
        <span style="letter-spacing: 5px">SATURDAY</span>&nbsp;&nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 12:30 PM to 12:00 AM
      </p>

      <p style="color: whitesmoke; padding-bottom: 10px" class="">
        <span style="letter-spacing: 5px">SUNDAY</span>&nbsp;&nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 12:30 PM to 12:00 AM
      </p>

      <marquee style="color: grey;">24 Hours Services</marquee>
    </div>
    <div class="col-lg-4">
        <img src="{% static 'core/images/timing.jpg' %}" 
        style="height: 600px; padding-left: 320px;">

    </div>
    
  </div>
</div>

{% endblock content %}
